@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string userName = "Guest"; // Default value in case of null
    if (SignInManager.IsSignedIn(User))
    {
        var email = UserManager.GetUserName(User);
        if (!string.IsNullOrEmpty(email))
        {
            userName = Regex.Match(email, @"^[^@]+").Value;
        }
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userName!</a>
    </li>
    <li>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li >
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li >
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
