@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RunAway</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- styles -->
    <link rel="stylesheet" href="~/css/style_general.css" />
    <link rel="stylesheet" href="~/css/style_home.css" />
</head>
<body>
    <!--preloader-->

    <nav>
        <div class="nav-center">
            <!-- nav header -->
            <div class="nav-header">
                <img src="https://www.dropbox.com/scl/fi/9v0f4t9dj02zy9sdbskro/RunAwayS.png?rlkey=vuqzo83yypktcekhgqosbmuo1&st=ci700b45&dl=1" class="logo" alt="logo can't be accessed" />
                <button class="nav-toggle">
                    <i class="fa fa-bars" style="font-size:36px"></i>
                    <!--a type for menu bar-->
                </button>
            </div>
            <!-- links -->
            <ul class="links">
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Cars">Cars</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Locations">Locations</a>
                </li>
                <li>
                    <a asp-action="Login" asp-controller="Users">Log in</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="About">About us</a>

                </li>
            </ul>
            <!-- social media -->
            <ul class="social-icons">
                <li>
                    <a href="https://www.facebook.com">

                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Home section -->
    <section class="home" id="home">
        <div class="text">
            <h1>Do you <span>need a car</span>?<br> <span>Rent a car</span></h1>
        </div>
        <div class="form-container">
            <form action="">
                <div class="input-box">
                    <span><h3>Location</h3></span>
                    <input type="search" name="" id="" placeholder="Search Places">
                </div>
                <div class="input-box">
                    <span><h3>Pick up Date</h3></span>
                    <input type="date" name="" id="">
                </div>
                <div class="input-box">
                    <span><h3>Return Date</h3></span>
                    <input type="date" name="" id="">
                </div>
                <input type="submit" name="" id="" class="btn">
            </form>
        </div>
    </section>
    <!-- javascript -->
    <script src="javascript/app_general.js"></script>
    <script src="javascript/app_home.js"></script>
</body>
</html>
