@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RunAway</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- styles -->
    <link rel="stylesheet" href="~/css/style_home.css" />
</head>
<body>
    <!--preloader-->

    <!-- Home section -->
    <section class="home" id="home">
        <div class="text">
            <h1>Do you <span>need a car</span>?<br> <span>Rent a car</span></h1>
        </div>
        <div class="form-container">
             <form asp-action="Index" method="get">
                <div class="input-box">
                    <span><h3>Location</h3></span>
                    <input type="text" name="searchText" class="form-control" placeholder="Search Places...">
                </div>
                <div class="input-box">
                    <span><h3>Pick up Date</h3></span>
                    <input type="date" name="" id="">
                </div>
                <div class="input-box">
                    <span><h3>Return Date</h3></span>
                    <input type="date" name="" id="">
                </div>
                <input type="submit" name="" id="" class="btn">
            </form>
        </div>
    </section>
    <!-- javascript -->
    <script src="~/js/app_home.js"></script>
</body>
</html>
