@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RunAway</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- styles -->
    <link rel="stylesheet" href="~/css/style_home.css" />
</head>
<body>
    <!--preloader-->

    <!-- Home section -->
    <section class="home" id="home">
        <div class="text">
            <h1>Do you <span>need a car</span>?<br> <span>Rent a car</span></h1>
        </div>
        <div class="form-container">


            <form asp-controller="Cars" asp-action="Index" method="get">
                <div class="input-box">
                    <label for="location">Location</label>
                    <input type="text" id="location" name="location" class="form-control" placeholder="City name here..." required  />
                </div>
                <div class="input-box">
                    <label for="pickupDate">Pickup Date</label>
                    <input type="date" id="pickupDate" name="pickupDate" class="form-control" required />
                </div>
                <div class="input-box">
                    <label for="returnDate">Return Date</label>
                    <input type="date" id="returnDate" name="returnDate" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Search Cars</button>
            </form>
        </div>
    </section>
    <!-- javascript -->
    <script src="~/js/app_home.js"></script>
</body>
</html>
