@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Sign up successfully! Press here to login</a>