/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.faq-section {
  max-width: 600px;
  margin: 170px auto;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.faq-question {
  background-color: #00858a;
  border: none;
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 12px;
}

.faq-question:focus {
  outline: none;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  background-color: #fff;
  padding: 0 15px;
  opacity: 0;
  transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
}

.faq-answer.open {
  max-height: 500px; /* adjust as needed */
  padding: 15px;
  opacity: 1;
}
