.select-menu {
    width: 300px;
    margin: 50px auto 50px auto;

}

    .select-menu .select-btn {
        height: 55px;
        background: transparent;
        padding: 20px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
    }
.btn-primary {
    border: 2px solid black;
    border-radius: 40px;
    width: 275px;
    height: 40px;
    margin: 5px 5px 5px 5px;
    transition: background-color 0.5s ease-in-out;
}
    .btn-primary:hover {
        background-color: #00858a;
        color: #fff;
    }
.select-btn i {
    font-size: 25px;
   
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}


.select-menu .options {
    position: center;
    padding: 8px;
    margin-top: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 7px 3px 30px rgba(0, 0, 0, 0.3);
    display: none;
}

.select-menu.active .options {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.select-menu.options .option {
    position: relative;
    background: none;
    width: 100%;
    height: 30px;
    margin: 50px 50px 50px 50px;
    border: 2px solid black;
    border-radius: 40px;

}

.truncate {
    width: 200px; /* or any width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-menu.options .option input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    padding: 20px 20px 20px 20px;
}

.form-control {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border: 2px solid black;
    border-radius: 40px;
    width:275px;
}
    .form-control:hover {
        background: #f2f2f2;
    }
.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}
.filter-container {
    margin-bottom: 20px;
    text-align: center; /* Center align the content */
}

input, button {
    margin-right: 10px;
}

button {
    margin-top: 10px; /* Add margin to the top */
}

.section-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 5px; 

}

.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.photo {
    object-fit: cover;
    height: 90%;
    width: 100%;
    border-radius: 0.20rem;
    border: transparent;
}
.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    width: 400px;
}

.item-info h3 {
    margin-bottom: 0.5rem;
    color: rgba(0,166,170);
}

.item-info h4 {
    text-align: center;
    padding-top: 0.7rem;
    color: rgba(0,166,170);
}

.description {
    margin-bottom: 1rem;
    padding-top: 0.2rem;
    font-size: medium;
}

@media screen and (min-width: 739px) {
    .select-menu {
        width: 700px;
        margin: 50px auto 50px auto;
    }
    .btn-primary {
        border: 2px solid black;
        border-radius: 40px;
        width: 330px;
        height: 29px;
        margin: 14px 5px 5px 5px;
    }
    .menu-item {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1.25rem;
        max-width: 40rem;
        margin-bottom: 2rem;
    }
    .select-menu.active .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .form-control {
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        border: 2px solid black;
        border-radius: 40px;
        width: 330px;
    }
    .item-info header {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid black;
        width: 320px;
    }
    .photo {
        height: 70%;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .select-menu {
        width: 1200px;
        margin: 50px auto 50px auto;
    }
    .btn-primary {
        border: 2px solid black;
        border-radius: 40px;
        width: 150px;
        height: 40px;
        margin: 5px 5px 5px 5px;
    }
    .section-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
    }
    .form-control {
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        border: 2px solid black;
        border-radius: 40px;
        width: 153px;
    }
    .select-menu.active .options {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .photo {
        height: auto;
        width: 100%; 
    }
    .item-info header {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid black;
        width: 320px;
    }
}


.photo:hover {
    border: 0.25rem solid rgba(0,166,170);
    border-radius: 30px;
    transition: border 0.3s ease-in-out;
}

.heading p, h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.heading p {
    font-size: 2rem;

}

