@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Style for home page*/
body {
    background: url(https://cdn.discordapp.com/attachments/1165566401814212670/1240708897610793110/mclaren-supercars-silver-cars-car-vehicle-hd-wallpaper-preview.jpg?ex=66478bb4&is=66463a34&hm=9e60b3b04f7fa2c664be952c077ba79e0c6d01701e264912f5c4b4cdc384a064&);
    background-repeat: no-repeat;
    background-position: center;
}
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}

.text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    position: absolute;
    top: 30px;
    left: 60px;
    right: 60px;
    color: rgba(120,166,170);
}

.text span {
    color:rgba(0,166,170);
}

.text p {
    margin: 0.5rem 0 1rem;

}

.form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background: transparent;
    padding: 20px;
}

.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

    .input-box span {
        font-weight: 500;
    }
        .input-box span h3 {
            font-weight: 500;
            color: rgba(0,166,170);
        }
    .input-box input {
        padding: 17px;
        outline: none;
        border: none;
        background: rgba(120,166,170);
        border-radius: 0.7rem;
        font-size: 1.1rem;
    }

.form-container form .btn {
    flex: 2 2 7rem;
    padding: 20px 4px;
    border: none;
    border-radius: 0.5rem;
    background: #00858a;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.5s ease-in-out;
    margin-top: 35px;
}

    .form-container form .btn:hover {
        background: rgba(0,166,170);
    }
