@model IEnumerable<ProjectRunAway.Models.Liability>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<link rel="stylesheet" href="~/css/style_general.css" />
<link rel="stylesheet" href="~/css/style_assurance.css" />
<body>
    <!--preloader-->
    <!-- Preloader will be implemented here! -->

    <nav>
        <div class="nav-center">
            <!-- nav header -->
            <div class="nav-header">
                <img src="https://www.dropbox.com/scl/fi/53xetjjphcvhirjpcxvml/logo.png?rlkey=su18qkjqsey3k50py8mws78zj&st=3nj4zqxu&dl=1" class="logo" alt="Logo here" />
                <button class="nav-toggle">
                    <i class="fa fa-bars" style="font-size:36px"></i>
                    <!--a type for menu bar-->
                </button>
            </div>
            <!-- links -->
            <ul class="links">
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Cars">Cars</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Locations">Locations</a>
                </li>
                <li>
                    <a asp-action="Login" asp-controller="Users">Log in</a>
                </li>
                <li>
                    <a href="aboutusPage.html">About us</a>
                </li>
            </ul>
            <!-- social media -->
            <ul class="social-icons">
                <li>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- List of assurance section -->
    <div class="heading">
        <span><p>No stress while driving?</p></span>
        <h1>Can you try our assurance</h1>
        <p class="paragraph">Limits your financial liability for accidental damage to the rental vehicle</p>
    </div>



    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <div class="section-center">
                        <article class="menu-item">

                            <div class="item-info">
                                <header>
                                    <h3><a href>@item.Category</a></h3>
                                    <h3>@item.PriceLiability $</h3>
                                </header>
                                <p class="paragraph">
                                    @item.About
                                </p>
                            </div>
        
                        </article>
                    </div>

                </tr>
            }
        </tbody>
    </table>
  
    <!-- javascript -->


</body>