@model Users

@{
    ViewData["Title"] = "CreateAccount";
    Layout = null;
}

<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a car | The creators of success</title>
    <link rel="stylesheet" href="~/css/style_login&create_Account.css">
    <!--icons style links-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' rel='stylesheet'>
</head>

<script>
function checkPasswordsMatch() {
    var password = document.querySelector('[name="password"]').value;
    var confirmPassword = document.querySelector('[type="password"]:nth-child(3)').value;
    if (password !== confirmPassword) {
        alert("Passwords do not match!");
        return false;
    }
    return true;
}
</script>


<body>
    <!--preloader-->

    <!--header-->
    
    <header>
        
    </header>
    
    <!--create account-->
    <div class="wrapper-cr-acc">

        <form asp-action="CreateAccount" asp-controller="Users" method="post">
            <h1>Create Account</h1>

            <div class="input-box">
                <input asp-for="Username" type="text" placeholder="Username" required>
                <i class='bx bx-user'></i>
            </div>
            <div class="input-box">
                <input asp-for="Password" id="password" type="password" placeholder="Password" required>
                <i class="fa-solid fa-eye" id="show-password"></i>
            </div>
            <div class="input-box">
                <input asp-for="Password" id="password" type="password" placeholder="Repeat password" required>
            </div>
            <div class="input-box">
                <input asp-for="PersonalQuestion" type="text" placeholder="Personal question" required>
            </div>
            <div class="input-box">
                <input asp-for="PersonalAnswer" type="text" placeholder="Answer" required>
            </div>
            <div class="input-box">
                <input asp-for="Address" type="text" placeholder="Address" required>
            </div>
            <div class="input-box">
                <input asp-for="FirstName" type="text" placeholder="FirstName" required>
            </div>
            <div class="input-box">
                <input asp-for="LastName" type="text" placeholder="LastName" required>
            </div>
            <div class="input-box">
                <input asp-for="Telephone" type="text" placeholder="Telephone" required>
            </div>
            <div class="input-box">
                <input asp-for="Email" type="text" placeholder="Email" required>
            </div>
            <button type="submit" class="btn">Sign up</button>
        </form>
    </div>
    <!--javascript-->
    <script src="~/js/app_login_create_Account.js"></script>
</body>

</html>