@model ProjectRunAway.Pocos.LoginPoco

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a car | The creators of success</title>
    <link rel="stylesheet" href="~/css/style_login&create_Account.css">
    <!--icons style links-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' rel='stylesheet'>
</head>

<body>
    <!--preloader-->
    <!--will be implemented-->
    <!--header-->


    <header>
        <video class="video-container" muted autoplay loop>
            <source src="https://www.dropbox.com/scl/fi/pm3fkw7z95s8jqm01grk5/video_logare.mp4?rlkey=xp70g1sad2wh6hwmy7ulzrki0&dl=1" type="video/mp4" />
        </video>
    </header>
    
    <!--login-->
    <div class="wrapper-login">
    <form asp-action="Login" asp-controller="Users" method="post">
        <h1>Login</h1>
        <div class="input-box">
            <input asp-for="Username" type="text" placeholder="Username">
            <i class='bx bx-user'></i>
        </div>
        <div class="input-box">
                <input asp-for="Password" id="password" type="password" placeholder="Password" required>
                <i class="fa-solid fa-eye" id="show-password"></i>
        </div>
        <div class="remember-forgot">
            <label><input asp-for="RememberMe" type="checkbox">Remember me</label>

            <a asp-action="ForgotPassword">Forgot password?</a>
        </div>
        <button type="submit" class="btn">Sign in</button>
        <div class="register-link">
            <p>Don't have an account? <a asp-action="CreateAccount">Register now</a></p>
        </div>
    </form>

    <!--javascript-->
    <script src="~/js/app_login_create_Account.js"></script>
    </div>
</body>

</html>